@import '../../styles/colors';

.list {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  .listItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    border-bottom: solid 1px $grey-tint-3;
    padding-bottom: 20px;
    margin-bottom: 40px;
    .titleWrapper {
      display: flex;
      width: 100%;
      .title {
        display: flex;
        width: 100%;
        color: $dark-green-secondary;
        margin: 0;
        padding: 0;
      }
      .arrow {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .description {
      color: $grey-tint-1;
      margin: 0;
    }
  }
}
