@import '../../../styles/colors';

.highlightValues {
  padding: 75px 24px;
  .value {
    margin: 20px 0 40px;
    .image {
      width: 320px;
      height: 180px;
      background-color: $teal;
    }
    .placeholder {
      width: 320px;
      height: 180px;
      background-color: $teal;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
    }
    .description {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .button {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
