@import '../../../styles/colors';

.adaPreview {
  background-color: $yellow;
  padding: 75px 24px;
  .previewsWrapper {
    position: relative;
    overflow: hidden;
    min-height: 650px;
    .previews {
      position: absolute;
      left: 0;
      .preview {
        position: absolute;
        .description {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .bullets {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .bullet {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: $grey-tint-2;
      margin-right: 20px;
      border-radius: 100px;
      &.active {
        background-color: $maroon;
      }
    }
  }
}

hr.separator {
  height: 1px;
  border: 0;
  border-top: solid 1px $teal-primary;
  margin-bottom: 50px;
}

.topics {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  .topic {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    .icon {
      .placeholder {
        display: flex;
        width: 36px;
        height: 36px;
        background-color: $grey-tint-4;
        border-radius: 100px;
      }
    }
    .topicInfo {
      .topicName {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      .topicDescription {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
      }
    }
  }
}
.button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
