$grey-tint-4: #c4c4c4;
$grey-tint-3: #d5d5d6;
$grey-tint-2: #a9a9ac;
$grey-tint-1: #808084;
$grey-primary: #535359;
$yellow: #f9e4cb;
$yellow-light: #fdfaf2;
$alert: #ff4545;
$rust: #c16b5b;
$teal-tint-3: #c9ece5;
$teal: #60c4b0;
$teal-primary: #196e69;
$dark-green-secondary: #285754;
$darker-green: #2b4143;
$maroon: #9d7775;
