@import '../../../styles/colors';

.help {
  background-color: $teal-primary;
  color: white;
  padding: 45px 24px 40px;
  h3 {
    color: white;
  }
  .description {
    margin-bottom: 40px;
  }
  .button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
